VERSION=latest
CONTAINER_NAME=CONTAINER_NAME
HOST_IP=127.0.0.1
WEB_HTTP_PORT=5678
CPUS=0
MEMORY_LIMIT=0MB
APP_PATH=/www/dk_project/dk_app/n8n/n8n_dtp
N8N_HOST=n8n.xxxx.com.vn
N8N_PROTOCOL=https
WEBHOOK_URL=https://n8n.xxxx.com.vn/
GENERIC_TIMEZONE=Asia/Ho_Chi_Minh
N8N_EMAIL_MODE=smtp
N8N_SMTP_HOST=smtp.gmail.com
N8N_SMTP_PORT=465
N8N_SMTP_USER=services.xxxx@gmail.com
N8N_SMTP_PASS=xxxxx
N8N_SMTP_SENDER=DTP N8N <services.xxxx@gmail.com>
N8N_SECURE_COOKIE=false
N8N_METRICS=false
QUEUE_HEALTH_CHECK_ACTIVE=false
NODEJS_PREFER_IPV4=true
CREDENTIALS_OVERWRITE_DATA={"googleOAuth2Api":{"clientId":"xxx.googleusercontent.com","clientSecret":"xxxxx"}}
N8N_USER_FOLDER=/home/node
N8N_TRUST_PROXY=true
